.g1 .pageOffset {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

.g1 .game-container {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  transition: opacity 1000ms;
}

.g1 .game-area {
  position: absolute;
  display: block;
  transition: opacity 1000ms;
  left: 221px;
  top: 150px;
  width: 140px;
  height: 280px;
}

.g1 .game-area-bg {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  left: 221px;
  top: 150px;
  width: 140px;
  height: 280px;
}
.g1 .game-area-columns {
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity 1000ms;
}
.g1 .game-area-column {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 14px;
  height: 280px;
  background-color: rgba(113, 200, 239, 0.1);
}

.g1 .clear-area {
  position: absolute;
  display: block;
  left: 221px;
  top: 150px;
}
.g1 .clear-line {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 14px;
}

.g1 .clear-line-bg {
  position: absolute;
  display: block;
  left: 0px;
  top: 7px;
  width: 140px;
  height: 14px;
  background-image: url(../images/game1/row-glow.png);
  background-size: 100% 100%;
}

.g1 .clear-line-glow {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 14px;
  background-color: #fff;
}

.g1 .top-area {
  position: absolute;
  display: block;
  left: 221px;
  top: 26px;
  opacity: 0;
  transition: opacity 1000ms;
}

.g1 .countdown-area {
  position: absolute;
  display: block;
  left: 8px;
  top: 4px;
  width: 140px;
  height: 28px;
  color: #bff8ff;
}

.g1 .next-title-area {
  position: absolute;
  display: block;
  left: 49px;
  top: 89px;
  width: 20px;
  height: 10px;
  color: #00caf1;
}

.g1 .next-area {
  position: absolute;
  display: block;
  left: 79px;
  top: 74px;
  width: 66px;
  height: 38px;
}

.g1 .score-area {
  position: absolute;
  display: block;
  color: #bff8ff;
  left: 0px;
  top: 89px;
  width: 70px;
  height: 18px;
}

.g1 .pause-plate {
  position: absolute;
  display: block;
  left: 207px;
  top: 160px;
  width: 168px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  box-shadow: 0px 0px 58px 7px #01caf1;
}

.g1 .finish-area {
  position: absolute;
  display: block;

  left: 207px;
  top: 136px;
  height: 180px;
  width: 168px;

  background-color: #fff;
  border-radius: 8px;
  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  opacity: 0;
  transition: opacity 1000ms;
}

.g1 .start-countdown-area {
  position: absolute;
  display: block;
  left: 207px;
  top: 230px;
  width: 168px;
  height: 100px;

  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.g1 .block0,
.g1 .block1,
.g1 .block2,
.g1 .block3,
.g1 .block4,
.g1 .block5,
.g1 .block6 {
  position: absolute;
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}

/*
	  |
	---
*/
.g1 .block0 {
  /* background-image: url(../images/game1/b0.png); */
  background-color: #63e8ff;
  border: 1px solid #298494;
}

/*
	|
	---
*/
.g1 .block1 {
  /* background-image: url(../images/game1/b1.png); */
  background-color: #a2e550;
  border: 1px solid #64912d;
}

/*
	--
   --
*/
.g1 .block2 {
  /* background-image: url(../images/game1/b2.png); */
  background-color: #d9c313;
  border: 1px solid #94850e;
}

/*
	--
	 --
*/
.g1 .block3 {
  /* background-image: url(../images/game1/b3.png); */
  background-color: #d9c313;
  border: 1px solid #94850e;
}

/*
	|
   ---
*/
.g1 .block4 {
  /* background-image: url(../images/game1/b4.png); */
  background-color: #cd342c;
  border: 1px solid #ac2920;
}

/*
	--
	--
*/
.g1 .block5 {
  /* background-image: url(../images/game1/b5.png); */
  background-color: #8a30e3;
  border: 1px solid #531d8b;
}

/*
	----
*/
.g1 .block6 {
  /* background-image: url(../images/game1/b6.png); */
  background-color: #4570ff;
  border: 1px solid #173492;
}

.g1 .large-glow {
  /* text-shadow: 0 0 10px #000e2c, 0 0 15px #000e2c, 0 0 15px #000e2c,
    0 0 20px #000e2c, 0 0 25px #000e2c; */
  filter: drop-shadow(0 0 5px #00091d) drop-shadow(0 0 7px #00091d)
    drop-shadow(0 0 10px #00091d) drop-shadow(0 12px #00091d)
    drop-shadow(0 0 15px #00091d);
}

.g1 .med-glow {
  filter: drop-shadow(-5px 0 3px #021431) drop-shadow(5px 0 4px #021431)
    drop-shadow(0 -5px 5px #021431) drop-shadow(0 -5px 6px #021431)
    drop-shadow(0 0 7px #021431);

  /* text-shadow: 0 0 4px #000e2c, 0 0 5px #000e2c, 0 0 6px #000e2c,
    0 0 7px #000e2c, 0 0 8px #000e2c; */
}

.g1 .small-glow {
  filter: drop-shadow(0 -3px 5px #031c3a) drop-shadow(-3px 0 2px #031c3a)
    drop-shadow(3px 0 2px #031c3a) drop-shadow(0 0 4px #031c3a);
}
